x64/Debug/
share_screen/x64/Debug/app_controller.obj
share_screen/x64/Debug/main.obj
share_screen/x64/Debug/moc_share_screen.obj
share_screen/x64/Debug/moc_tray_menu.obj
share_screen/x64/Debug/qrc_share_screen.obj
share_screen/x64/Debug/qt.natvis
share_screen/x64/Debug/Screen.obj
share_screen/x64/Debug/screen_manager.obj
share_screen/x64/Debug/share_screen.Build.CppClean.log
share_screen/x64/Debug/share_screen.exe.recipe
share_screen/x64/Debug/share_screen.ilk
share_screen/x64/Debug/share_screen.log
share_screen/x64/Debug/share_screen.obj
share_screen/x64/Debug/share_screen.vcxproj.FileListAbsolute.txt
share_screen/x64/Debug/tray_menu.obj
share_screen/x64/Debug/vc143.idb
share_screen/x64/Debug/vc143.pdb
share_screen/x64/Debug/qt/qt_work.log
share_screen/x64/Debug/qt/qtvars.xml
share_screen/x64/Debug/qt/moc/moc_share_screen.cpp
share_screen/x64/Debug/qt/moc/moc_tray_menu.cpp
share_screen/x64/Debug/qt/qmake/.qmake.stash
share_screen/x64/Debug/qt/qmake/import.qml
share_screen/x64/Debug/qt/qmake/moc_predefs.h.cbt
share_screen/x64/Debug/qt/qmake/props.txt
share_screen/x64/Debug/qt/qmake/qtvars.log
share_screen/x64/Debug/qt/qmake/qtvars.pro
share_screen/x64/Debug/qt/qmake/qtvars.vcxproj
share_screen/x64/Debug/qt/qmake/qtvars.vcxproj.filters
share_screen/x64/Debug/qt/qmake/qtvars.xml
share_screen/x64/Debug/qt/rcc/qrc_share_screen.cpp
share_screen/x64/Debug/qt/uic/ui_share_screen.h
share_screen/x64/Debug/share_screen.tlog/CL.command.1.tlog
share_screen/x64/Debug/share_screen.tlog/Cl.items.tlog
share_screen/x64/Debug/share_screen.tlog/CL.read.1.tlog
share_screen/x64/Debug/share_screen.tlog/CL.write.1.tlog
share_screen/x64/Debug/share_screen.tlog/link.command.1.tlog
share_screen/x64/Debug/share_screen.tlog/link.read.1.tlog
share_screen/x64/Debug/share_screen.tlog/link.secondary.1.tlog
share_screen/x64/Debug/share_screen.tlog/link.write.1.tlog
share_screen/x64/Debug/share_screen.tlog/moc.read.1u.tlog
share_screen/x64/Debug/share_screen.tlog/moc.write.1u.tlog
share_screen/x64/Debug/share_screen.tlog/rcc.read.1u.tlog
share_screen/x64/Debug/share_screen.tlog/rcc.write.1u.tlog
share_screen/x64/Debug/share_screen.tlog/share_screen.lastbuildstate
share_screen/x64/Debug/share_screen.tlog/share_screen.write.1u.tlog
share_screen/x64/Debug/share_screen.tlog/uic.read.1u.tlog
share_screen/x64/Debug/share_screen.tlog/uic.write.1u.tlog
.vs/share_screen/FileContentIndex/015d9c0a-50cd-47fc-b128-90f8d7b7307a.vsidx
.vs/share_screen/FileContentIndex/484d0e36-fe66-4327-a6e5-165a668a4e8e.vsidx
.vs/share_screen/FileContentIndex/58c52037-f383-42b2-a476-9fef44a504c2.vsidx
.vs/share_screen/FileContentIndex/7336ceb0-13d6-42e8-a0d1-9a696f6f320c.vsidx
.vs/share_screen/FileContentIndex/8cc9bfa6-2511-4a74-aabf-b832e5770c65.vsidx
.vs/share_screen/v17/Browse.VC.db
.vs/share_screen/v17/Browse.VC.opendb
.vs/share_screen/v17/Solution.VC.db
.vs/share_screen/v17/ipch/AutoPCH/12bf9d78ad9023d6/MAIN.ipch
.vs/share_screen/v17/ipch/AutoPCH/3f40638bf7292c5b/SCREEN_MANAGER.ipch
.vs/share_screen/v17/ipch/AutoPCH/8404a4d4ab9a9b1f/APP_CONTROLLER.ipch
.vs/share_screen/v17/ipch/AutoPCH/a797e99f356c2883/SHARE_SCREEN.ipch
.vs/share_screen/v17/ipch/AutoPCH/c933d4a2df903298/TRAYMENU.ipch
.vs/share_screen/v17/ipch/AutoPCH/d6a539de4d31f8cd/TRAY_MENU.ipch
.vs/share_screen/v17/ipch/AutoPCH/e20043fcfe23217/SCREEN.ipch
deps/
.vs/
